#!/bin/bash

set -e
set -u
set -o pipefail

function get_random_ch() {
    echo $RANDOM | md5sum | head -c 6
}

# set connection param for vault commands
export VAULT_ADDR="http://{{ ansible_ssh_host }}:{{ hvault_dev_port }}"
export VAULT_TOKEN="{{ hvault_dev_token }}"

# check engines and add if applicable
echo currently defined engines
vault secrets list
echo

if ! vault secrets list | grep CI-test > /dev/null; then
    # we use a kv (version 2) secrets engine: https://www.vaultproject.io/docs/secrets/kv/kv-v2
    vault secrets enable -path=CI-test kv-v2
fi

echo "Currently defined paths (might be empty)"
vault kv list CI-test && true

# lots of repetition to enable easy copy'n'paste

echo "--------------- HostA ------------------"

# first create the entry, then we add the other 
if ! vault kv list CI-test | grep HostA > /dev/null; then
    vault kv put CI-test/HostA MustExist=somevalue_$(get_random_ch)
fi

# notice the use of "patch" not "put"
vault kv patch CI-test/HostA keyA=valueA_$(get_random_ch)
vault kv patch CI-test/HostA keyB=valueB_$(get_random_ch)
vault kv patch CI-test/HostA keyC=valueC_$(get_random_ch)
vault kv patch CI-test/HostA keyD=valueD_$(get_random_ch)
vault kv patch CI-test/HostA keyE=valueE_$(get_random_ch)

echo
echo "--------------- HostA ------------------"

# first create the entry, then we add the other 
if ! vault kv list CI-test | grep HostB > /dev/null; then
    vault kv put CI-test/HostB MustExist=somevalue_$(get_random_ch);
fi

# notice the use of "patch" not "put"
vault kv patch CI-test/HostB keyA=valueA_$(get_random_ch) keyB=valueB_$(get_random_ch) keyC=valueC_$(get_random_ch) keyD=valueD_$(get_random_ch) keyE=valueE_$(get_random_ch)

# data may now be retrieved using
# see https://www.vaultproject.io/docs/commands/kv/get

# specific key
# vault kv get -field=keyA CI-test/HostA
# the lot from HostA
# vault kv get CI-test/HostA
